<!-- Header navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="navbar-left">
      <span (click)="showSideNav()" class="menu-icon material-icons">menu</span>
      <span class="navbar-brand">The ank's app</span>
    </div>
    <div class="collapse navbar-collapse"
      id="navbarResponsive"
      [ngClass]="{'navbar-invisible': true}">
      <ul class="navbar-nav ml-auto" [ngClass]="{'navbar-invisible': navToggle}">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/items">Items</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>    
    </div>
  </div>
</nav>